@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Architects+Daughter&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Roboto+Mono:wght@100&family=Sawarabi+Mincho&family=Source+Sans+3:wght@300;400&display=swap');
.body{
    background-color: #F5F5F5;
}
.exWrapper a{
text-decoration: none;
}
.card{
 margin: 10vh auto;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #ffff;
  border-radius: 7px;
  padding: 10px;
  background-color: #ffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card img{
    width: 700px;
    height: 876px;
    margin-top: 25px;
    border-radius: 6px;
}

.memeBtn{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    
}

.memeBtn button{
 width: 170px;
 height: 45px;
 margin: 30px 100px;
 /* position:sticky; */
font-family: "Roboto Mono", monospace;
font-weight: bolder;
font-size: 20px;
background-color: #6CC431;
color: white;
border: none;
border-radius: 5px;
}

.grAdd{
   font-size: 17px;
   color: white;
  
}


#avatar{
    width: 70px;
    height: 70px; 
    border-radius: 180px;
}
.usename{
font-family: 'Source Sans 3', sans-serif;
font-weight: bolder;
font-size: 25px;
color: #1a64ad;
margin: 10px 25px;
}
hr{
  color: #D6D6D6;
}
.title{
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bold;
    color: #444444;
    font-size: 20px;


}

