@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Roboto+Mono&family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Roboto+Mono:wght@100;400&family=Sawarabi+Mincho&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Amatic+SC&family=Amiri:wght@700&family=Cinzel:wght@500&family=Francois+One&family=Handlee&family=Lobster&family=Mali:wght@200;300&family=Mulish&family=Neucha&family=Roboto+Mono:wght@500&family=Sawarabi+Mincho&display=swap");

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logIn{
 display: block;
  margin: 50px 200px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding-bottom: 10px;
}

.chicklist{
 margin-top: 20px;
}